.vs/ProjectEvaluation/shopping_tutorial.metadata.v9.bin
.vs/ProjectEvaluation/shopping_tutorial.projects.v9.bin
.vs/ProjectEvaluation/shopping_tutorial.strings.v9.bin
.vs/Shopping_Tutorial/DesignTimeBuild/.dtbcache.v2
.vs/Shopping_Tutorial/v17/.suo
.vs/Shopping_Tutorial/DesignTimeBuild/.dtbcache.v2
.vs/Shopping_Tutorial/v17/DocumentLayout.backup.json
.vs/Shopping_Tutorial/v17/.suo
Shopping_Tutorial/obj/Debug/net8.0/Shopping_Tutorial.AssemblyInfo.cs
Shopping_Tutorial/obj/Debug/net8.0/Shopping_Tutorial.AssemblyInfoInputs.cache
Shopping_Tutorial/obj/Debug/net8.0/Shopping_Tutorial.sourcelink.json
.vs/Shopping_Tutorial/v17/.suo
.vs/Shopping_Tutorial/v17/.suo
Shopping_Tutorial/obj/Debug/net8.0/Shopping_Tutorial.AssemblyInfo.cs
Shopping_Tutorial/obj/Debug/net8.0/Shopping_Tutorial.AssemblyInfoInputs.cache
Shopping_Tutorial/obj/Debug/net8.0/Shopping_Tutorial.sourcelink.json
